@media only screen and (max-width: 1273px){

/*********************************Main*/

.main_div1--card1{
    left: 0;
}

.main_div1--card2{
    right: 0px;
}
    
}
@media only screen and (max-width: 1200px){
    .formContacto{
        max-width: 900px
    }
    .section1,.section2,
    .section3,.section4,
    .section5,.section6,
    .section7{
        max-width: 900px;
        align-items: center;
        justify-content: center;
    }
}
